.container2 {
    font-size: 20px;
}

.navbar-brand2 {
    padding-top: 0.4125rem;
    padding-bottom: 0.4125rem;
    margin-right: 1rem;
    font-size: 2rem;
    color: grey;
    text-decoration: none;
    white-space: nowrap;
}
.navbar-brand2:hover {
    color: #fff;
}
/* Fin nav */
