/* Espacio entre secciones */
.separar {
    padding: 90px 0;
}
/* Fin espacio */

/* Main secciones */
.sec-flores {
    height: 100%;
    text-align: center;
    background-color: #fff;
}

.sec-terapias {
    background-color: grey;
    height: 100%;
    text-align: center;
}

.sec-nosotros {
    height: 100%;
    text-align: center;
    background-color: #fff;
}
/* Fin secciones */